body {
  background-color: rgb(150, 131, 150);
  

}

*{
  padding: 0;
  margin: auto
}

.listBody{
  background-color: black;
  padding-bottom: 0px;

  width: 90%;
  align-items: center;
  /* justify-content: center */
}

.listHeader{
  color: black;
  font-family: 'lucida Sans';
  text-align: center;
  padding-bottom: 50px
}